body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.grid {
    display: grid;
    flex-wrap: wrap;
    border: 1px solid black;
    height: 75vh;
    width: 75vh;
    align-content: flex-start;
    align-items: stretch;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr)
}

.clear,
.size,
.eraser {
    background-color: #3882f6;
    border-radius: 5px;
    border-color: #3882f6;
    color: white;
    font-size: 30px;
}

.cell {
    border: 1px solid black;
}